*{

font-family: 'Saira Semi Condensed', serif;

}

.myColour{

	background-color: #4aaaa5
}

.fontColour{


	color: #4aaaa5;
}

body{

	background-image: url(https://github.com/mijofields/Bootstrap-Portfolio/blob/master/images/intersection.png?raw=true);
	

}

.white{

	background-color: white;
}

.smallpic{

	max-height: 25%;
	max-width: 25%;

}

.minHeight{


	height: 50px:;
}

